@import "tailwindcss";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #52525B;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717A;
}